# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
env/
venv/
.venv/

# Build / packaging
build/
dist/
*.egg-info/

# Jupyter / checkpoints
.ipynb_checkpoints/

# Logs / outputs
*.log
*.out

# Experiment results
results/
# camelback_simple_regret.png
*.npy

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
